syntax: glob
.configure
.depend
.rpm*
*.log
tests
config.h
config.mak
dbase
1gnore
VERSION
*.sh
*.o
*.a
include/version.h
src/s2
protos/srm/2.2/gsoap/srm_22.h
protos/srm/2.2/gsoap/srmSoapBinding*.xml
protos/srm/2.2/gsoap/soapC.cpp
protos/srm/2.2/gsoap/soapClient.cpp
protos/srm/2.2/gsoap/soapClientLib.cpp
protos/srm/2.2/gsoap/soapH.h
protos/srm/2.2/gsoap/soapServer.cpp
protos/srm/2.2/gsoap/soapServerLib.cpp
protos/srm/2.2/gsoap/soapStub.h
protos/srm/2.2/gsoap/srmNsmap.h
protos/srm/2.2/gsoap/srmSoapBinding.nsmap

RPM-BUILD
rpmmacros
rpmrc
s2.spec

/testing/scripts/protos/**/*.e1
/testing/scripts/protos/**/*.out
/testing/scripts/protos/**/*.html

syntax: regexp
